img {
    height: auto;
    width: 600px;
}

h1,
h2,
p,
li {
    font-family: 'Brush Script MT', cursive, sans-serif;
}

h1 {
    font-size: 70px;
    text-align: center;
    background-color: rgb(59, 124, 33);
    color: white;
}

h2 {
    font-size: 40px;
    background-color: rgb(139, 236, 103);
}